*:focus {
    outline: none;
}


#signin, #signout {
	background-color:#32ad53;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: inherit;
	font-size:17px;
	padding:16px 31px;
	text-decoration: none;
	text-shadow:0px 1px 0px #2b5725;
}

#new-pin{
  padding: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.86);
  position:absolute;
  top: 10.4em;
  right:2.4em;
}

#new-pin input{
    /*padding: 20px;*/
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  width: 258px;
  margin: 2px;
  font-family: monospace;
  color: black;
  text-align: center;
}

#journal{
  padding: 27px;
  border: none;
  border-bottom: 2px solid black;
  font-family: monospace;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.86);
}


#new-pin button{
  background-color: transparent;
  border: 1px solid black;
  font-family: monospace;
  font-style: oblique;
}
::-webkit-input-placeholder {
  text-align: center;
  font-family: monospace;
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  font-family: monospace;
   color: red;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  font-family: monospace;
   color: red;
}

:-ms-input-placeholder {
  text-align: center;
  font-family: monospace;
   color: red;
}

input:focus::-webkit-input-placeholder {
  color:transparent;
}

    /* Mozilla Firefox 4 to 18 */
input:focus:-moz-placeholder {
  color:transparent;
}

    /* Mozilla Firefox 19+ */
input:focus::-moz-placeholder {
  color:transparent;
}

    /* Internet Explorer 10+ */
input:focus:-ms-input-placeholder {
  color:transparent;
}

textarea:focus::-webkit-input-placeholder {
  color:transparent;
}

    /* Mozilla Firefox 4 to 18 */
textarea:focus:-moz-placeholder {
  color:transparent;
}

    /* Mozilla Firefox 19+ */
textarea:focus::-moz-placeholder {
  color:transparent;
}

    /* Internet Explorer 10+ */
textarea:focus:-ms-input-placeholder {
  color:transparent;
}
