#new-pin{
  padding: 15px;
  border: none;
}

#new-pin input{
  padding: 20px;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  width: 358px;
  margin: 2px;
  font-family: monospace;
  color: black;
}

#journal{
  padding: 100px;
  border: none;
  border-bottom: 2px solid black;
  font-family: monospace;
}

#new-pin button{
  background-color: transparent;
  border: none;
  font-family: monospace;
  font-style: oblique;
}
::-webkit-input-placeholder {
  text-align: center;
  font-family: monospace;
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  font-family: monospace;
   color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  font-family: monospace;
   color: black;
}

:-ms-input-placeholder {
  text-align: center;
  font-family: monospace;
   color: black;
}
