  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */

  #map {
     height: 400px;
     width: 100%;
   }


  #land {
    z-index: 200000;
    position: absolute;
    margin-left: -250px;
    left: 50%;
    height: 100%;
    width: 500px;
  }

  h1 {
    color: black;
    font-weight: bold;
    font-size: 80px;
  }

  #land button {
    position: absolute;
    bottom: 5%;
    margin-left: -52px;
    padding: 10px;
    font-size: 16px;
  }
  /* Optional: Makes the sample page fill the window. */

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  form {
    margin-bottom: 50px;
  }
