/*Liquid layout fundamentals*/
body {
  width: 100%;
  margin: 0 auto;
  position:relative;
  background-color: #f8f8f8;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
   height: 490px;
   width: 70%;
   margin: 0 auto;
   margin-top: 20px;
 }

#new-pin-button {
 display: none;
 z-index: 200005;
 position:absolute;
 top: 2.5em;
 right: 13%;
 font-size: 2.3em;
 color: white;
 background-color:#f34c44;
 border: none;
 border-radius: 3px;
 padding: 0 25px;
}

.close span {
  position: relative;
  bottom: 35px;
  right: 15px;
}

.navbar {
 margin-bottom:0;
}

.navbar-brand {
  font-family: 'Roboto Slab';
  font-size: 25px;
  padding-top: 22px;
}

.navsize {
  max-width: 90%;
}

.btn-primary {
  color: white !important;
}

.btn-primary:hover {
  color: black !important;
}

#tutorial {
  font-family: monospace;
}

/*.btn-success:hover {
  color: grey !important;
  background-color: white;
  border: solid2px #4cae4c !important;
}*/
