

body {
  text-align:center;
}

input {
  height:70%;
  font-size:200%;
  background-color:transparent;
  border: 1px solid black;
  padding: 2px;
  width: 50%;
  font-family: monospace;
}

button {
  height:70px;
  font-size:200%;
  color: black;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: monospace;
}
::-webkit-input-placeholder {
   color: grey;
}

li {
  text-decoration: none;
  display:inline-block;
  vertical-align: middle;
  padding: 8px;
}
