body {
  text-align:center;
  background-color:rgb(89,181,36);
}
#home {
  float:right;
  padding:30px;
  background-color:white;
  color:green;
  font-size:36px;
}

input {
  height:70px;
  font-size:36px;
  background-color:transparent;
  border: 1px solid #fff;
  padding:5px;
}
button {
  height:70px;
  font-size:36px;
  background-color:transparent;
  border: 1px solid #fff;
  color: #fff;
}
::-webkit-input-placeholder {
   color: #fff;
}

li {
  text-decoration: none;
  display:inline-block;
  vertical-align: middle;
  padding: 8px;
}

/*#showPhoto{

}*/
